# PYTHON
numpy
pandas
matplotlib
seaborn
jupyter
ipython
ipykernel

# MACHINE LEARNING
scikit-learn
tensorflow
imblearn

# SYSTEM
setuptools
heartbd

# API and FRONT END
uvicorn
fastapi
streamlit
pydantic
docker

# .env
python-dotenv
